<h1>Chitter</h1>

<h2 class="please">Please sign up</h2>

<div class='sign_up'>
  <div class='form'>
<form action='/users' method='POST'>
    <label for='email'>
        Email:
        <input class="input" name='email' type='email' value='<%= @user.email %>' required>
    </label>
    <label for='name'>
        Name:
        <input class="input" name='name' type='text'>
    </label>
    <label for='username'>
        Username:
        <input class="input" name='username' type='text'>
    </label>
    <label for='password'>
        Password:
        <input class="input" name='password' type='password' required>
    </label>
    <label for='password_confirmation'>
        Password:
        <input class="input" name='password_confirmation' type='password' required>
    <input class="buttons2" type='submit' value='Sign up'>
</form>
</div>
</div>
