<h2 class="Peep"> Time to write a new peep! </h2>

<form action='/peeps' method='POST'>
  <label for='title'>
    <h2 class="Peep">Title:</h2>
    <input type='text' name='title'>
  </label>
  <label for='body'><br>
    <h2 class="Peep">Body:</h2>
    <br><textarea name="body" style="width:400px;height:250px;"></textarea>
  </label>
  <input class="buttons2" type='submit' value='Peep!'>
</form>
