<h1>Chitter</h1>


<form action="/users/new" method="get">
    <button class="buttons" type="submit" value="Submit">Register</button>
</form>

<form action='/sessions/new' method="get">
    <button class="buttons"type="submit" value="Submit">Log in</button>
</form>

<form action="/peeps" method="get">
    <button class="buttons" type="submit" value="Submit">The peeps</button>
</form>
